.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 3.2%;
}

.btn-outline-info {
    min-width: 8%;
    max-height: 38px;
}

.col {
    margin: 1%;
}