.shopPage {
    background-color: #F6F6F6F6;
    margin: 0 !important;
    padding: 1% 8% 9% 8%;
}

.shopListTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 1%;
}